.centered-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: --ion-default-font-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

.centered-content ion-icon {
  font-size: 48px;
  margin-bottom: 10px;
}

ion-fab {
  padding: 18px;
}

img{
  margin-left: 90px;
  width: 38vw;
  height: calc(50vw* 0.75);
}

p{
  padding: 10px;
}
